body{
  text-align: center;
}

th, td {
  padding: 20px;
  width:10%;
}
input{
  margin: 10px;
}

.new{
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: blue;
}
